* {
    /* padding: 0;
      margin: 0;
      box-sizing: border-box; */
    /* font-family:'Roboto','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
  }

  /* Start of Header */
  .header-bg {
    background-color: burlywood !important;
    height: 100px;
    /* width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; */
  }

  /* For the title text inside the header */
  #title_wrapper {
    margin-left: 25px;
    flex: 1;
  }

  .time_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  header div h1 {
    text-align: left;
  }

  header {
    padding-bottom: -25px;
  }

  /* Start of the input form inside the header */
  #search_country {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  }

  #country_name {
    margin: 0;
    flex: 1 0;
    height: 25px;
    margin-left: 10px;
    padding: 0;
  }

  #map {
    width: 100%;
    height: 400px;
  }

  /* Start of current conditions data */

  .time_container {
    font-family: "Roboto";
  }

  .country_time {
    font-style: oblique;
    font-size: 45px;
  }

  .country_date {
    font-family: "Roboto";
    font-weight: bold;
    font-style: oblique;
  }

  .time_diff {
    font-size: 22px;
  }

  .currents {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .current_temp {
    font-family: "Roboto";
    font-style: oblique;
    font-size: 35px;
    margin-left: 10px;
  }

  #currents_table {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    font-family: "Roboto";
  }

  .country_time {
    font-family: "Roboto";
    font-style: oblique;
    font-size: 45px;
  }

  .country_timezone {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
  }

  .currents_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .average_temps_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .currency_wrapper {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: black 2px solid;
    margin-bottom: 25px;
  }

  .language_wrapper {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .tagbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: black 1px solid;
    padding: 5px;
    padding-top: 0px;
    border-radius: 10px;
    min-width: 95px;
    margin: 5px;
    background: whitesmoke;
  }

  .tagbox_label {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    font-style: oblique;
  }

  .tagbox_value {
    margin: 0;
    font-size: 12px;
  }

  .wx_icon {
    width: 128px;
    height: 128px;
  }


  /* Used to change the font size of am/pm */
  .subscript {
    font-size: 26px;
  }

  .is-hot {

    background: tomato;
  }

  .is-cold {
    background: skyblue;
  }

  .is-nice {
    background: springgreen;
  }

  .rounded-pill {
    padding: 0.2em 0.6em;
    border-radius: 20% / 50%;
  }